<!-- Header -->
<div class="header">
    <h1>{{title}}</h1>
</div>

<!-- Main -->
<div class="main">

    <div *ngIf="loading">
        <fa-icon [icon]="iconSpinner" [spin]="true"></fa-icon>
    </div>

    <div class="debug" [class.active]="debug">
        <button (click)="reloadTimers()">Reload</button>
    </div>

    <div class="main-icon">
        <div (click)="toggleTimer()">

            <!-- Timer ON -->
            <div *ngIf="globalTimerArm === 1">
                <div class="icon">
                    <img src="../../assets/images/icon/timer/clock-on.svg" alt="">
                </div>
            </div>

            <!-- Timer Off -->
            <div *ngIf="globalTimerArm === 0">
                <div class="icon">
                    <img src="../../assets/images/icon/timer/clock-off.svg" alt="">
                </div>
            </div>

            <p class="timer-status unselectable">{{timerStatus}}</p>
        </div>
    </div>

    <!-- Tag-->
    <div class="trenner">
        <h2 class="unselectable">Morgens</h2>
    </div>

    <div>
        <div class="row row-timer">

            <!-- Label On -->
            <div class="timer-label"><span class="label unselectable">ein</span></div>

            <!--  Input Power ON -->
            <div class="timer-picker time">

                <!--  UP -->
                <div class="row timer-up">

                    <!-- hh up-->
                    <div class="step time-hh-up" (click)="stepUpHours(0)">
                        <fa-icon [icon]="iconStepUp"></fa-icon>
                    </div>

                    <!-- Divider -->
                    <div class="time-divider"></div>

                    <!-- mm up-->
                    <div class="step time-mm-up" (click)="stepUpMinutes(0)">
                        <fa-icon [icon]="iconStepUp"></fa-icon>
                    </div>
                </div>

                <!-- HH:MM -->
                <div class="row timer-display">
                    <div class="step time-hh unselectable">{{timers[0].h | number:'2.0'}}</div>
                    <div class="time-divider unselectable">:</div>
                    <div class="step time-mm unselectable">{{timers[0].m | number:'2.0'}}</div>

                </div>

                <!--  Down -->
                <div class="row timer-down">

                    <!-- hh down -->
                    <div class="step time-hh-down" (click)="stepDownHours(0)">
                        <fa-icon [icon]="iconStepDown"></fa-icon>
                    </div>

                    <!-- Divider -->
                    <div class="time-divider"></div>

                    <!-- mm down -->
                    <div class="step time-mm-down" (click)="stepDownMinutes(0)">
                        <fa-icon [icon]="iconStepDown"></fa-icon>
                    </div>
                </div>

            </div>


            <!-- Label Power Off  -->
            <div class="timer-label"><span class="label unselectable">aus</span></div>

            <!--  Input Power Off -->
            <div class="timer-picker time">

                <!--  UP -->
                <div class="row timer-up">

                    <!-- hh up-->
                    <div class="step time-hh-up" (click)="stepUpHours(1)">
                        <fa-icon [icon]="iconStepUp"></fa-icon>
                    </div>

                    <!-- Divider -->
                    <div class="time-divider"></div>

                    <!-- mm up-->
                    <div class="step time-mm-up" (click)="stepUpMinutes(1)">
                        <fa-icon [icon]="iconStepUp"></fa-icon>
                    </div>
                </div>

                <!-- HH:MM -->
                <div class="row timer-display">
                    <div class="step time-hh unselectable">{{timers[1].h | number:'2.0'}}</div>
                    <div class="time-divider unselectable">:</div>
                    <div class="step time-mm unselectable">{{timers[1].m | number:'2.0'}}</div>

                </div>

                <!--  Down -->
                <div class="row timer-down">

                    <!-- hh down -->
                    <div class="step time-hh-down" (click)="stepDownHours(1)">
                        <fa-icon [icon]="iconStepDown"></fa-icon>
                    </div>

                    <!-- Divider -->
                    <div class="time-divider"></div>

                    <!-- mm down -->
                    <div class="step time-mm-down" (click)="stepDownMinutes(1)">
                        <fa-icon [icon]="iconStepDown"></fa-icon>
                    </div>
                </div>

            </div>


        </div>

    </div>

    <!-- Nacht -->
    <div class="trenner">
        <h2 class="unselectable">Abends</h2>
    </div>
    <div>
        <div class="row row-timer">

            <!-- Label On -->
            <div class="timer-label"><span class="label unselectable">ein</span></div>


            <!--  Input Power ON -->
            <div class="timer-picker time">

                <!--  UP -->
                <div class="row timer-up">

                    <!-- hh up-->
                    <div class="step time-hh-up" (click)="stepUpHours(2)">
                        <fa-icon [icon]="iconStepUp"></fa-icon>
                    </div>

                    <!-- Divider -->
                    <div class="time-divider"></div>

                    <!-- mm up-->
                    <div class="step time-mm-up" (click)="stepUpMinutes(2)">
                        <fa-icon [icon]="iconStepUp"></fa-icon>
                    </div>
                </div>

                <!-- HH:MM -->
                <div class="row timer-display">
                    <div class="step time-hh unselectable">{{timers[2].h | number:'2.0'}}</div>
                    <div class="time-divider unselectable">:</div>
                    <div class="step time-mm unselectable">{{timers[2].m | number:'2.0'}}</div>

                </div>

                <!--  Down -->
                <div class="row timer-down">

                    <!-- hh down -->
                    <div class="step time-hh-down" (click)="stepDownHours(2)">
                        <fa-icon [icon]="iconStepDown"></fa-icon>
                    </div>

                    <!-- Divider -->
                    <div class="time-divider"></div>

                    <!-- mm down -->
                    <div class="step time-mm-down" (click)="stepDownMinutes(2)">
                        <fa-icon [icon]="iconStepDown"></fa-icon>
                    </div>
                </div>

            </div>


            <!-- Label Power Off  -->
            <div class="timer-label"><span class="label unselectable">aus</span></div>


            <!--  Input Power Off -->
            <div class="timer-picker time">

                <!--  UP -->
                <div class="row timer-up">

                    <!-- hh up-->
                    <div class="step time-hh-up" (click)="stepUpHours(3)">
                        <fa-icon [icon]="iconStepUp"></fa-icon>
                    </div>

                    <!-- Divider -->
                    <div class="time-divider"></div>

                    <!-- mm up-->
                    <div class="step time-mm-up" (click)="stepUpMinutes(3)">
                        <fa-icon [icon]="iconStepUp"></fa-icon>
                    </div>
                </div>

                <!-- HH:MM -->
                <div class="row timer-display">
                    <div class="step time-hh unselectable">{{timers[3].h | number:'2.0'}}</div>
                    <div class="time-divider unselectable">:</div>
                    <div class="step time-mm unselectable">{{timers[3].m | number:'2.0'}}</div>

                </div>

                <!--  Down -->
                <div class="row timer-down">

                    <!-- hh down -->
                    <div class="step time-hh-down" (click)="stepDownHours(3)">
                        <fa-icon [icon]="iconStepDown"></fa-icon>
                    </div>

                    <!-- Divider -->
                    <div class="time-divider"></div>

                    <!-- mm down -->
                    <div class="step time-mm-down" (click)="stepDownMinutes(3)">
                        <fa-icon [icon]="iconStepDown"></fa-icon>
                    </div>
                </div>

            </div>


        </div>

        <!-- Save and Cancel -->
        <div class="row-max save-cancel-container" [class.active]="edit">

            <div class="row">
                <!-- cancel -->
                <div class="cancel" (click)="cancel()">
                    <fa-icon [icon]="iconCancel"></fa-icon>
                </div>

                <!-- save -->
                <div class="save" (click)="save()">
                    <fa-icon [icon]="iconSave"></fa-icon>
                </div>
            </div>
        </div>

    </div>

    <div class="debug" [class.active]="debug">
        <div class="debug-item">

            <div>
                <span class="label">Time 0</span>
                <span>{{sonoffTimers[0].Time}}</span>
            </div>

            <div>
                <span class="label">Time 1</span>
                <span>{{sonoffTimers[1].Time}}</span>
            </div>

            <div>
                <span class="label">Time 2</span>
                <span>{{sonoffTimers[2].Time}}</span>
            </div>

            <div>
                <span class="label">Time 3</span>
                <span>{{sonoffTimers[3].Time}}</span>
            </div>
        </div>

    </div>


    <!-- Debug -->
    <div class="debug" [class.active]="debug">

        <div class="row">
            <div *ngFor="let sonoffTimer of sonoffTimers" class="debug-item">

                <h5>Timer JSON ON</h5>

                <table class="debug-table">
                    <tr>
                        <th>Arm</th>
                        <td>{{sonoffTimer.Arm}}</td>
                    </tr>

                    <tr>
                        <th>Mode</th>
                        <td>{{sonoffTimer.Mode}}</td>
                    </tr>

                    <tr>
                        <th>Time</th>
                        <td>{{sonoffTimer.Time}}</td>
                    </tr>

                    <tr>
                        <th>Window</th>
                        <td>{{sonoffTimer.Window}}</td>
                    </tr>

                    <tr>
                        <th>Days</th>
                        <td>{{sonoffTimer.Days}}</td>
                    </tr>

                    <tr>
                        <th>Repeat</th>
                        <td>{{sonoffTimer.Repeat}}</td>
                    </tr>

                    <tr>
                        <th>Output</th>
                        <td>{{sonoffTimer.Output}}</td>

                    </tr>
                    <tr>
                        <th>Action</th>
                        <td>{{sonoffTimer.Action}}</td>
                    </tr>
                </table>

            </div>


        </div>
    </div>

    <!-- Footer -->
    <div class="footer"></div>
