$color-label: #979797;
$color-text: white;
$color-background: #464646;
$color-block: #212121;
$color-accent: #FF9500;
$color-border-light: #696969;
$color-border: #686868;
$color-border-dark: #2e2e2e;

$color-success: green;
$color-warning: orange;
$color-error: red;